<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - Welcome</title>
</head>
<body>
    <h1>Welcome to my game server</h1>
    <h2>Here you can find all my minigames</h2>
    <ul>
        <li><a href="/pong">Pong</a></li>
        <li><a href="/hatching-eggs">Hatching Eggs</a></li>
        <li><a href="/tic-tac-toe">Tic-tac-toe</a></li>
    </ul>
</body>
</html>